@media (min-width: 500px) {
	.wrapper {
		display: grid;
		grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
		grid-gap: 16px;
	}
}

.wrapper {
	max-width: 1440px;
	margin: 0 auto;
	padding: 1em 0;
}

.card {
	display: flex; /* [1] */
	flex-direction: column; /* [2] */
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.card__img {
	background-color: gray;
	position: relative;
	width: 100%;
}
.card__img:before {
	content: '';
	display: block;
	padding-top: 56.25%; /* 高さと幅の比を16:9に固定。9/16*100=56.25 */
}
.card__img img {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.card__content {
	flex-grow: 1; /* [3] */
	display: flex; /* [4] */
	flex-direction: column;
	padding: 0 1em;
}

.card__content p {
	display: -webkit-box;
	overflow: hidden;
	-webkit-line-clamp: 4;
	-webkit-box-orient: vertical;
	line-height: 1.5;
}

.card__link {
	margin-top: auto; /* [5] */
}
.text_title {
	/* font-family: 'DM Sans'; */
	text-transform: capitalize;
	font-size: 20px;
	font-weight: bold;
}

button.modalButton {
	background: #ffae42;
	margin: 0 -10px;
	padding: 10px;
	border-radius: 5px;
	border: none;
	font-size: 22px;
	width: 100px;
	cursor: pointer;
	color: #ffffff;
	outline: 0;
}
