@import url('https://fonts.googleapis.com/css?family=Oswald:400,700');
/* * {
	transition: 100ms all ease-in-out;
	box-sizing: border-box;
} */

.app {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	min-height: 100vh;
}

.Wrapper-div {
	width: 100%;
	min-height: 200vh;
	font-family: 'Oswald';
}
.Wrapper-div:before {
	content: '';
	display: block;
	width: 100%;
	height: 50vh;
	background: url('https://images.unsplash.com/photo-1498175928029-a5627bc28bd6?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1268&q=80')
		no-repeat;
	background-position: 50% 50%;
	background-color: rgb(0, 0, 0, 0.4);
	/* filter: saturate(25%); */
	background-size: cover;
	/* box-shadow: -1px 13px 14px -11px rgb(0 0 1); */
}

.Wrapper-div-header {
	width: 33%;
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;
	top: -75px;
	flex-direction: column;
}
@media (min-width: 601px) {
	Wrapper-div-header {
		max-width: 960px;
		/* flex-direction: row; */
	}
}

.Wrapper-div-main {
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: white;
	padding: 20px 10px;
	/* flex-direction: column; */
}

Wrapper-div-main {
	width: 33.33%;
	max-width: 960px;
	flex-direction: row;
	position: relative;
	top: -50px;
	padding: 10px 30px;
}

.inner-div {
	align-items: center;
	position: relative;
	top: -80px;
}

.user_pic {
	border-radius: 50%;
	width: 130px;
	border: 1px solid #fff;
	height: auto;
}
.card-main {
	display: flex;
	width: 30%;
	margin: 0 auto;
}
.heading-box {
	min-width: 270px;
}
@media only screen and (max-width: 600px) {
	.card-main {
		width: auto;
	}
}

.heading-box h1 {
	font-size: 2em;
	margin: 0;
	color: black;
}

.heading-box h3 {
	font-weight: 2em;
	color: #666666;
	font-weight: normal;
	margin: 0;
}
.heading-box h3 span {
	color: #999999;
}

.button-box {
	width: 100%;
	display: flex;
	justify-content: center;
	padding-top: 5%;
	flex-direction: row;
}

.button-box {
	width: 30%;
	justify-content: flex-end;
	padding-right: 5%;
	padding-top: 0;
}

.button-box a {
	display: block;
	background-color: white;
	border-radius: 50%;
}
.button-box i {
	border-radius: 50%;
	font-size: 54px;
	box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.4);
}

.activity {
	justify-content: space-around;
	padding: 10px 5px;
	display: flex;
	align-items: center;
	text-align: center;
	border: 2px solid black;
	border-radius: 4px;
	margin: 5px;
	width: 100%;
}
.activity * {
	display: block;
}

.activity {
	flex-direction: row;
	display: flex;
	align-items: baseline;
	justify-content: space-around;
}
.activity * {
	display: inline;
	margin: 0 auto;
}

.activity:hover {
	background-color: black;
	border: 2px solid white;
	color: white;
	cursor: pointer;
}
.activity .activity-name {
	text-transform: uppercase;
}

.activity .activity-name {
	margin: 0;
}

.activity .index {
	width: 30px;
}
.activity i,
.activity span {
	font-size: 24px;
	margin: 10px 0;
}
.activity i,
.activity span {
	font-size: 18px;
	margin: 0;
}
/* 
@-webkit-keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(90deg);
	}
}
@-webkit-keyframes spinBack {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
}
@keyframes spinBack {
	0% {
		transform: rotate(90deg);
	}
	100% {
		transform: rotate(0deg);
	}
} */
/* css flxbox css for enter contest page  */
.flex-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: normal;
	align-items: normal;
	align-content: stretch;
}

.flex-items:nth-child(1) {
	display: block;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	width: 60%;
	/* height: 100%; */
	background-color: #666666;
}

.flex-items:nth-child(2) {
	display: block;
	flex-grow: 0;
	flex-shrink: 8;
	flex-basis: auto;
	align-self: auto;
	order: 0;
	width: 30vw;
	/* height: 100%; */
	background-color: aquamarine;
}
